@font-face {
  font-family: 'galano_grotesque_demobold';
  src: url(/assets/galanogrotesquedemo-bold-webfont-0a8f44b3524e4c4f755f600614831a9ce71f98409d0329c748b11574814eb19e.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
